[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/bentan29/client-gateway-Fernando-Herrera.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/bentan29/products-ms-Fernando-Herrera.git
